<section class="todoapp">
  <header class="header">
    <h1>{{ title }}</h1>
    <input
      class="new-todo"
      placeholder="What needs to be done?"
      v-focus
      v-model="newTodoText"
      @keyup.enter="addTodo">
  </header>
  <section class="main">
    <input
      id="toggle-all"
      class="toggle-all"
      type="checkbox"
      :checked="toggleAll">
    <label for="toggle-all">Mark all as complete</label>
    <router-view></router-view>
  </section>
  <footer
    class="footer"
    v-if="todoList.length">
    <span class="todo-count"><strong>{{ activeTotal }}</strong> item left</span>
    <ul class="filters">
      <li>
        <router-link to="/all">All</router-link>
      </li>
      <li>
        <router-link to="/active">Active</router-link>
      </li>
      <li>
        <router-link to="/completed">Completed</router-link>
      </li>
    </ul>
    <button
      class="clear-completed"
      v-if="activeTotal !== todoList.length">Clear completed</button>
  </footer>
</section>