<ul class="todo-list">
  <li
    :class="{completed: item.isFinish, editing: item.id === tmpInfo.id}"
    v-for="item in todoList"
    :key="item.id">
    <div class="view">
      <input
        class="toggle"
        type="checkbox"
        :checked="item.isFinish"
        @change="changeState(item.id)">
      <label
        @dblclick="showEdit(item)">{{ item.content }}</label>
      <button
        class="destroy"
        @click="delTodo(item.id)"></button>
    </div>
    <input class="edit" :value="tmpInfo.content">
  </li>
</ul>